<p><%= @report.specific.project_title %></p>

<p>DT Report #<%= @report.uid %> is awaiting approval.</p>

<p>You can access it by following <a href="<%= reports_destructive_url(@report.specific) %>">this link</a>.</p>